@model DatabaseWorker.Models.DeliveryOrder

@{
    ViewData["Title"] = "Details";
}

<h1>Дополнительная информация</h1>

<div>
    <h4>Форма создания заказа</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SenderCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SenderCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SenderAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SenderAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecipientCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecipientCity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RecipientAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RecipientAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CargoWeight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CargoWeight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CargoPickupDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CargoPickupDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Редактировать</a> |
    <a asp-action="Index">Назад</a>
</div>
